<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @word_length.length %>
</p>

<%= link_to 'Edit', edit_word_length_path(@word_length) %> |
<%= link_to 'Back', word_lengths_path %>
